.header{
    text-align: center;
    padding: 15px;
    background-color: green;
}
.header a{
    margin: 0 25px;
}
.main{
    display: flex;
}
.main .trai{
    background-color: aquamarine;
    width: 30%;
    height: 550px;
}
.phai .bai_viet2{
    border-bottom: 1px solid rgb(190, 186, 186);
    width: 800px;
}
.main{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}
.footer{
text-align: center;
background-color: black;
color: white;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
padding: 10px 20px;
}
h1{
    color: white;
}