html body{
    background-color: #f1f1f1;
    width: 300px;
    height: 800px;
}
form{
    background-color: white;
    border-radius: 15px ;
}
.headding input{
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}
h1{
    text-align: center;
}
input[type=submit]{
    width: 72%;
    height: 25px;
    background-color: blue;
}
.head{
    border-radius: 5px;
    margin-left: 55px;
}
