*{
    box-sizing: border-box;
}
.header{
    width: 30%;
    text-align: center;
    background-color: rgb(230, 235, 235);
    position: relative;
    opacity: 0.5;
}
 .button button{
    margin-top: 30px;
    width: 130px;
    height: 40px;
    border-radius: 15px;
}
.footer {
    display: inline-block;
    margin-top: 10px;
}
.footer p i {
    margin: 0 10px;
}
.text{
    padding-bottom: 15px;
}
.fot{
    background-color: gray ;

} 
.main .line{
    display: block;
    width: 100px;
    border-bottom: 1px solid gray;
    margin: 10px auto;
}
.Download{
    background-color: blue;
    color: wheat;
}