.text2{
    background-color: rgb(180, 176, 170);
    color: pink;
}
.text2, .text1 {
    display: inline-block;
}
.text3{
    height: 80px;
    line-height: 75px;
    border: 5px solid rgb(9, 255, 0);
    color: black;
    text-align: center
    
   
}
.background{
    background-color: rgb(195, 209, 209);
}
.bgr1{
    background-color: antiquewhite;
    border-left: 3px solid green;
}
.submit {
    background-color: rgb(72, 185, 72);
    color: white;
    border: none; 
}

.t1, .t6{
    color: blueviolet;
}
.t2, .t4{
    color: red
}
.t3, .t5{
    color: blue;
}
.t2, .t3{
    display: inline-block;
}
.t4, .t5{
    display: inline-block
}