
.headding1{
    text-align: center;
    background-color: rgb(229, 230, 231);
    width: 250px;
    height: 209px;
    padding: 7px;
    margin: 10px; 
}
.head1{
    border-radius: 5px;
   background-color: rgb(68, 66, 66);
   padding: 5px;
}
.headding2{
    text-align: center;
    justify-content: center;
    background-color: rgb(229, 230, 231);
    width: auto;
    height: auto;
    padding: 10px;
}
.headding2 .main1{
    border-radius: 5px;
   background-color: rgb(68, 66, 66);
   padding: 20px; 
   width: 25%;
    height: 209px;
    margin-right: 15px;
}  
.headding2 .main2{
    border-radius: 5px;
   background-color: rgb(68, 66, 66);
   padding: 20px; 
   width: 25%;
    height: 209px;
    margin-right: 15px;
}  
.headding2 .main3{
    border-radius: 5px;
   background-color: rgb(68, 66, 66);
   padding: 20px; 
   width: 25%;
    height: 209px;
    margin-right: 15px;
}  .headding2 .main4{
    border-radius: 5px;
   background-color: rgb(68, 66, 66);
   padding: 20px; 
   width: 25%;
    height: 209px;
    margin-right: 15px;
}  
.headding2 table {
    border-spacing: 30px; 
}
.headding2 table {
    border-spacing: 30px; 
}
.head1 h2{
    color: red;
}
.headding2 h2{
    color: red;
}
.headding2 p{
    color: rgb(233, 227, 227);
    font-weight: 400;
}
.head1 h3{
    color: white;
    font-weight: 400;
}
